{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": ["last", "prettier/react", "plugin:react/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "no-duplicate-imports": "error",
    "prettier/prettier": "error",
    "react/display-name": "off",
    "newline-before-return": "error",
    "arrow-body-style": "error",
    "newline-after-var": "error"
  },
  "globals": {
    "global": true,
    "window": true,
    "document": true,
    "Headers": true,
    "Request": true,
    "FileReader": true,
    "FormData": true,
    "Promise": true,
    "setTimeout": true,
    "setInterval": true,
    "fetch": true,
    "jest": true,
    "test": true,
    "expect": true,
    "describe": true,
    "beforeEach": true,
    "beforeAll": true,
    "afterEach": true,
    "afterAll": true,
    "module": true,
    "Map": true,
    "URL": true
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use,
      // default to "createReactClass"
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "detect", // React version. "detect" automatically picks the version you have installed.
      // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
    },
    "propWrapperFunctions": [
      // The names of any function used to wrap propTypes, e.g. `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
      "forbidExtraProps",
      {"property": "freeze", "object": "Object"},
      {"property": "myFavoriteWrapper"}
    ]
  }
}
