.form {
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-top: 0;
  padding: 10px 40px;
  background-color: #fff;
}

.bottomField {
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  padding: 6px 0;
  background-color: #fff;

  a {
    color: #3897f0;
    text-decoration: none;
  }
}
