nav {
  ul {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
  }

  li {
    margin: 0 20px;
    float: left;
    list-style: none;

    a {
      color: #000;
      text-decoration: none;
    }
  }
}
