.form {
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-top: 0;
  padding: 10px 40px;
  background-color: #fff;
}

.bottomField {
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  padding: 6px 0;
  background-color: #fff;

  a {
    color: #003569;
    font-weight: 600;
    text-decoration: none;
  }
}

.separator {
  width: 100%;
  position: relative;

  p {
    display: inline-block;
    margin: 0;
    padding: 0 18px;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    color: #999;
    text-transform: uppercase;
    background: #fff;
    z-index: 1;
  }

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 8px;
    left: 0;
    background: #efefef;
  }
}

.forgotPassword {
  margin: 10px 0;
  display: block;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #003569;
  text-decoration: none;
}
